.icon {
  display: inline-block;
  min-width: 24px;
  min-height: 24px;
  color: #ccc !important;
  background-color: #ccc !important;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
}

.icon.icon-users {
  mask-image: url("../icons/users.svg");
  -webkit-mask-image: url("../icons/users.svg");
}

.icon.icon-vector {
  mask-image: url("../icons/Vector.svg");
  -webkit-mask-image: url("../icons/Vector.svg");
}

.icon.icon-home {
  mask-image: url("../icons/home.svg");
  -webkit-mask-image: url("../icons/home.svg");
}

.icon.icon-calendar {
  mask-image: url("../icons/calendar.svg");
  -webkit-mask-image: url("../icons/calendar.svg");
}

.icon.icon-chat {
  mask-image: url("../icons/chat.svg");
  -webkit-mask-image: url("../icons/chat.svg");
}

.icon.icon-settings {
  mask-image: url("../icons/settings.svg");
  -webkit-mask-image: url("../icons/settings.svg");
}

.icon.icon-arrowOut {
  mask-image: url("../icons/arrowOut.svg");
  -webkit-mask-image: url("../icons/arrowOut.svg");
}

.icon.icon-cush {
  mask-image: url("../icons/cush.svg");
  -webkit-mask-image: url("../icons/cush.svg");
}

.icon.icon-arrowRight {
  mask-image: url("../icons/arrowRight.svg");
  -webkit-mask-image: url("../icons/arrowRight.svg");
}
.icon.icon-eyeclosed {
  mask-image: url("../icons/eyeclosed.svg");
  -webkit-mask-image: url("../icons/eyeclosed.svg");
}
.icon.icon-eye{
  mask-image: url("../icons/eyes.svg");
  -webkit-mask-image: url("../icons/eyes.svg");
}
